*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: mediumblue;
}

.de{
    background-color: #ffff;
    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 26px;
    border-radius: 5px;
    padding-bottom: 47px;
    padding-top: 41px;
}

.hh{
    text-align: center;
}

.gg{
    padding: 10px;
    min-width: -webkit-fill-available;
    

 
  
}
.ss{
    padding: 10px;
    min-width: -webkit-fill-available;

 
}

.en{
    padding: 12px;
    background-color: blue;
    border: 23px
    ;
    border-radius: 6px;
    min-width: -webkit-fill-available;
    color: #ffff;
    font-family: revert;
}